---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <p>cullaloe.com<br/>{{ site.about-author }}</p>
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <!-- <div class="author-name">by <a href="{{site.baseurl}}/{{ site.about-page }}" target="_self" class="plain">{{site.author}}</a></div> -->
      <div class="search" id="js-search">
        <input type="text" placeholder="type to search..." class="search__input" id="js-search__input">
      </div>
    </div>
    <ul class="search__results" id="js-search__results"></ul>
</header> <!-- End Header -->

  <footer>
    <section class="contact">
      <h3 class="contact-title">Navigate</h3>
      <ul>
        <li><a href="{{site.baseurl}}/" target="_self" title="Home"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li><a href="{{site.baseurl}}/about" target="_self" title="About"><i class="fa fa-info" aria-hidden="true"></i></a></li>
        <li><a href="{{site.baseurl}}/tags" target="_self" title="Tags and Topics"><i class="fa fa-tags" aria-hidden="true"></i></a></li>
        <li><a href="//static.cullaloe.net/Research" target="_blank" title="My research diary (login required)"><i class="fa fa-mortar-board" aria-hidden="true"></i></a></li>
        <li><a href="{{site.baseurl}}/feed.xml" target="_blank" title="RSS XML feed"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
      </ul>
    </section> <!-- End Section links -->
    <section class="contact">
      <h3 class="contact-title">Connect</h3>
      <ul>
        {% if site.social-orcid %}
        <li><a href="https://orcid.org/{{ site.social-orcid }}" target="_blank"><i class="ai ai-orcid-square" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-facebook %}
        <li><a href="https://facebook.com/{{ site.social-facebook }}" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-github %}
        <li class="github"><a href="http://github.com/{{site.social-github}}" target="_blank"><i class="fab fa-github"></i></a></li>
        {% endif %}
        {% if site.social-instagram %}
        <li><a href="https://instagram.com/{{ site.social-instagram }}" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-mastodon %}
          <li><a href="https://{{ site.social-mastodon }}" target="_blank"><i class="fab fa-mastodon" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-linkedin %}
        <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.social-linkedin}}" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        {% endif %}
        {% if site.social-twitter %}
          <li><a href="https://twitter.com/{{ site.social-twitter }}" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-email %}
          <li class="email"><a href="mailto:{{site.social-email}}"><i class="fa fa-envelope-o"></i></a></li>
        {% endif %}
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
      <hr>Worried about online abuse? <a href="https://www.ceop.police.uk/safety-centre/">Report it to CEOP</a>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->

<div class="content-box clearfix">
  {{ content }}
</div>
